html {
    height: 100%;
}

body {
    background: #b0eb7a;
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
}

.middle {
    margin: 0 auto;
    color: #2A6041;
    text-align: center;
    font-size: 35px;
}

#clock {
    text-align: right;
    margin: 550px 0px;
    font-size: 30px;
    color: #2A6041;
}

.bar{
    height: 30px;
    width: 200px;
    
}

.button {
    height: 36px;
   
    
}

.bookmarks{
    padding:30px;
 }
 .bookmarks a{
    font-size:30px;
    margin:0 20px;
    color:#28965A;
    transition:.25s;
    vertical-align: top;
 }
 .bookmarks a:hover{
    font-size:40px;
    position:relative;
 }
 